.Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.box {
  border-radius: 2rem;
  width: 20rem;
  height: 20rem;
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxItem {
  background-color: white;
  border-radius: 2rem;
  width: 0.5rem;
  height: 0.5rem;
  padding: 2rem;
  list-style: none;
  margin: 0.2rem;
}

button {
  color: white;
  padding: 1rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  border: none;
  background-color: rgb(48, 155, 197);
  font-size: 1.25rem;
  font-weight: 700;
  width: 15rem;
  cursor: pointer;
}
